---
layout: base
---

<div class="aanbod-single">
  <main class="aanbod-single__main">
    <img src="{{ afbeelding.image }}" alt="{{ afbeelding.alt }}" class="aanbod-single__img">

    {%- comment -%}
    Not working for some weird reason: "missing alt error"
      {% image afbeelding.image, afbeelding.alt, "aanbod-single__img", "(max-width: 768px) 95vw, 55vw", "420, 600, 820" %}
    {%- endcomment -%}
    
    <div class="aanbod-single__content">
      <h2>{{ seo.seo_title }}</h2>
      {{ content}}
    </div>
  </main>

  {% if checklist.size > 0 %}
    <aside class="aanbod-single__aside">
      {% bookshop "card/checklist" list: checklist title: title button: button %}
    </aside>
  {% elsif list.size > 0 %}
    <aside class="aanbod-single__aside">
      {% bookshop "card/info" list: list title: title button: button %}
    </aside>
  {% endif %}
</div>

<section class="aanbod-carousel">
  <div class="aanbod-carousel__content">
    <h2 class="aanbod-carousel__h">Meer {{ tags[0] }} </h2>
  </div>

  {% assign tag = tags[0] %}
  {% bookshop "carousel/horizontal" tag: tag  %}
</section>