---
_step: 2
seo:
  seo_title: 
  seo_description:

alert:

title: Kies je dag en tijd
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat nulla sit tristique tempor vel massa molestie amet. Quis at dui.
_slots:
  - name: ochtend
    time: 9:30 - 13:30
  - name: middag
    time: 14:00 - 16:00
  - name: avond
    time: 18:30 - 21:30
---

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/nl.js"></script>

<div class="pickers" x-data="getFirebase()">

    <div
        x-data="{
            init() {
                let picker = flatpickr(this.$refs.picker, {
                    mode: 'single',
                    inline: true,
                    dateFormat: 'j/n/Y',
                    locale: 'nl',
                    monthSelectorType: 'static',
                    enable: enabledDates,
                    onChange: (date, dateString) => {
                        setActive(date[0])
                    }
                })
                this.$watch('enabledDates', () => picker.set('enable', enabledDates))
            }
        }"
    >

    
    <div class="picker">
        <input type="text" x-ref="picker" x-model="selectedDate">
    
        <div class="picker-2">
            <div class="picker-2__header">
                <h3 class="picker-2__h">Routes</h3>
                <span class="picker-2__span">Selecteer één of meerdere</span>
            </div>
            <form class="picker-2__list">
                {% for item in _slots %}
                    <label class="picker-2__item">
                        <input type="checkbox" class="picker-2__checkbox" 
                        :disabled="!active.{{ item.name }}" 
                        x-model="selectedSlots.{{ item.name }}">
                        <div class="picker-2__checkmark" :class="active.{{ item.name }} && 'enabled'">
                            <span class="picker-2__item-label">{{ item.name }}</span>
                            <span>{{ item.time }}</span>
                        </div>
                    </label>
                {% endfor %}
            </form>
            <div class="picker-2__footer">
                <div class="picker-2__prijs">
                    <span>Prijs:</span>
                    <span class="picker-2__prijs-amount">€0,00</span>
                </div>
                <form action="/create-checkout-session" method="POST">
                    <button type="submit" class="btn btn--primary">Checkout</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>



