---
layout: base
seo:
  seo_title: Huur een sloep bij Sloepverhuur Bolsward met een arrangement.
  seo_description: >-
    Een sloep huren bij Sloepverhuur Bolsward is leuk maar dit combineren met
    een arrangement maakt uw dat compleet.
hero:
  afbeelding:
    image: /assets/img/uploads/photo-2020-02-23-15-27-26.jpg
    alt: >-
      Tijdens een tocht met een sloep van Sloepverhuur Bolsward optimaal
      genieten van ruimte en rust.
  col_1:
    icon: flag
    text: >-
      Alle routes  starten en eindigen in  Bolsward, het middelpunt van Súdwest
      Fryslân met een enorme diversiteit aan varen over sloten, grachten en
      meren.
  col_2:
    icon: flag
    text: >-
      Maak een keuze uit één van onze  sloepen en bekijk vervolgens de route
      mogelijkheden,  als je zelf vaart kan je de gekozen route als navigatie op
      je mobiele device gebruiken.
  col_3:
    icon: flag
    text: >-
      Huren van de sloep met schipper  is op aanvraag mogelijk met aanvullende
      catering zoals koffie/thee met Friese oranjekoek, gekoelde drankjes en
      borrelplank.
---

<main class="routes">

  {% bookshop "hero/columns" bind: hero %}

  <div class="routes" 
  x-data="{ 
    activeRoute: 'alpaca',
    getActiveRoute(value) {
      return this.activeRoute == value
    },
    setActiveRoute(value) {
      this.activeRoute = value ? this.value : null
    },
    activeSloep: null,
    getActiveSloep(sloepen) {
      if (!this.activeSloep) return false
      else return !sloepen.includes(this.activeSloep)
    }
  }">

    <div class="toolbar">
      <div class="toolbar__content">
        <select class="routes__sloep-filter select" x-model="activeSloep">
          <option value="">Alle sloepen</option>
          {% for item in collections.sloepen %}
            <option value="{{item.fileSlug}}">{{item.data.title}}</option>
          {% endfor %}
        </select>
  
        <select class="routes__omgeving-filter select" x-model="activeRoute">
          {% for item in collections.routes %}
            <option 
              x-data="{ sloepen: {{ item.data.sloepen | printJS }}}"
              :disabled="getActiveSloep(sloepen)"
              value="{{ item.fileSlug }}">
              {{item.data.title}} 
              ({{item.data.tijd}})
            </option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% for item in collections.routes %}
      <template x-if="getActiveRoute('{{ item.fileSlug }}')">

        <div class="route">
          <div class="route__map">
            {% assign route = item.data.route_url | replace: "/edit?", "/embed?" %}

            {%- comment -%}
            {% bookshop "map" url: route %}
            {%- endcomment -%}
          </div>

          <div class="route__accordion">
            {% assign featured_omgeving = collections.omgeving | filterBySlug: item.data.omgeving  %}
            <h2 class="route__h">{{item.data.title}}</h2>
            <span class="route__tijd">{{item.data.tijd}}</span>
            <p class="route__p">{{item.data.description}}</p>

            {%- comment -%}
            {% bookshop "accordion" list: featured_omgeving %}
            {%- endcomment -%}
          </div>
        </div>
      </template>
    {% endfor %}
  </div>    
</main>
