---
seo:
  seo_title: 
  seo_description:
  
map_url: https://www.google.com/maps/d/embed?mid=1EEsircj-l0YxHQc-RasH-Qlkhzjoubmp
---

<div class="contact">
  <div class="contact__cards">
    
    <a href="tel:{{ info.contact.tel }}" class="contact__card">
      <i class="contact__icon material-icons-round">phone</i>
      <h4 class="contact__label">Telefoonnummer:</h4>
      <span class="contact__value">{{ info.contact.tel }}</span>
    </a>
    <a href="mailto:{{ info.contact.email }}" class="contact__card">
      <i class="contact__icon material-icons-round">email</i>
      <h4 class="contact__label">Email:</h4>
      <span class="contact__value">{{ info.contact.tel }}</span>
    </a>
    <a class="contact__card">
      <i class="contact__icon material-icons-round">place</i>
      <h4 class="contact__label">Adres:</h4>
      <span class="contact__value">{{ info.contact.adress }}</span>
    </a>
    
  </div>
  <div class="contact__content">

    <div class="contact__map">
      {% bookshop "map" url: map_url %}
    </div>

    <div class="contact__form">
      <h2 class="contact__h">Stuur een bericht</h2>
      {% bookshop "form" url: map_url %}
    </div>
  </div>
</div>