<header class="nav" x-data="{ open: false }" @click.outside="open = false">
  <div class="nav__wrapper">

    <!-- Logo -->
    <a class="nav__logo" href="/">
      <img src="{{ info.logo.image }}" alt="{{ info.logo.alt }}">
    </a>

    <!-- List of links -->
    <ul class="nav__list" x-show="open" x-cloak>
      {% for item in nav %}

      <!-- Group of links (custom or a colletion) -->
        {% if item.dropdown %} 
          <li class="nav__item" 
              x-data="{ expanded: false }" 
              @click="expanded = !expanded" 
              @click.outside=" expanded = false"
          >
            <a class="btn nav__link">
              <span>{{item.name}}</span>
              <i class="icon icon--chevron" :class="expanded ? 'turn' : ''"> </i>
            </a>
            
            <ul class="nav__dropdown-list" x-show="expanded" x-cloak>
              {% if item.dropdown.collection.size > 0 %}
                {% for dropdown_item in collections[item.dropdown.collection] %}
                  <li>
                    <a href="{{ dropdown_item.url }}" class="btn nav__dropdown-link">{{dropdown_item.data.title}}</a>
                  </li>       
                {% endfor %}
              {% else if item.dropdown.custom %}
                {% for dropdown_item in item.dropdown.custom %}
                  <li>
                    <a href="{{ dropdown_item.url }}" class="btn nav__dropdown-link">{{ dropdown_item.name }}</a>
                  </li>       
                {% endfor %}  
              {% endif %}
            </ul>
          </li>
      
        <!-- Single link -->
        {% else %}
          <li class="nav__item">
            <a href="{{ item.url }}" class="btn nav__link">{{item.name}}</a>
          </li>
        {% endif %}

      {% endfor %}
    </ul>

    <!-- CTA and hamburger -->
    <a href="/" class="nav__cta btn btn--primary">Contact</a>
    <button @click="open = !open" href="/" class="nav__burger btn btn--secondary">X</a>

  </div>
</header>