<div class="hero-columns">
  <img src="{{ afbeelding.image }}" alt="{{ afbeelding.omschrijving }}" class="hero-columns__img">
  <div class="hero-columns__content">
    <div class="hero-columns__col">
      <i class="material-icons">{{ col_1.icon }}</i>
      <p class="hero-columns__p">{{ col_1.text }}</p>
    </div>
    <div class="hero-columns__col">
      <i class="material-icons">{{ col_2.icon }}</i>
      <p class="hero-columns__p">{{ col_2.text }}</p>
    </div>
    <div class="hero-columns__col">
      <i class="material-icons">{{ col_3.icon }}</i>
      <p class="hero-columns__p">{{ col_3.text }}</p>
    </div>
  </div>
</div>