---
layout: reserveren
info:
  titel: Selecteer een van onze unieke routes.
  text: >-
    Vul daarna je gegevens in en plaats de reservering. Wij zullen dan z.s.m.
    telefonisch contact met je opnemen om eventuele vragen  te beantwoorden en
    indien gewenst aan te vullen met catering en/of een arrangement. Na alles te
    hebben besproken kan de reservering definitief worden gemaakt.
---

<div x-data="{ route: null }">

  <section class="reserveren-cards reserveren-cards--beenakker"> 
    {% assign found_routes = collections.routes | filterByFrontmatter: "sloepen", "Beenakker" %}
    {% for item in found_routes %}

      <a class="reserveren-cards__card" href="#form" @click="route = '{{ item.data.title }}'" :class="route == '{{ item.data.title }}' ? 'selected' : ''">
        <h3 class="reserveren-cards__h">{{item.data.title}}</h3>
        <span class="reserveren-cards__prijs">€{{item.data.prijs}},-</span>
        <div class="reserveren-cards__info">
          <span class="reserveren-cards__label">Vaarduur:</span>
          <span class="reserveren-cards__value">{{item.data.tijd}}</span>
        </div>
      </a>

    {% endfor %}
  </section>

  <form method="post" class="form reserveren-form" id="form" x-data="{ confirm: false }" @submit="confirm = true">
    <label class="label" for="route">Route (selecteer hierboven):</label>
    <input class="input" type="text" name="route" readonly required x-model="route">

    <label class="label" for="naam">Naam:</label>
    <input class="input" name="naam" type="text">
    
    <label class="label" for="email">Email:</label>
    <input class="input" name="email" type="text" required>

    <label class="label" for="Telefoonnummer">Telefoonnummer:</label>
    <input class="input" name="telefoonnummer" type="text">

    <label class="label" for="datum">Datum voorkeur:</label>
    <input class="input" name="datum" type="date">

    <label class="label" for="bericht">Vragen / opmerkingen:</label>
    <textarea class="textarea" name="bericht"></textarea>

    <input type="text" name="_subject" style="display: none;" value="Interesse in Beenakker" />
  <input type="hidden" name="inbox_key" value="sloepverhuur">
    <!-- <input type="text" name="_gotcha" style="display: none;" /> -->
      
    <input class="btn btn--primary" type="submit" value="Plaats reservering">

    {% bookshop "modal"
      live_render: false 
      title: "Bedankt!"
      text: "We komen zo spoedig mogelijk bij je terug om de reserveren definitief te maken"
      button: "Oké" 
    %}
  </form>
</div>

<script>
  // Helper function to get form data in the supported format
  function getFormDataString(formEl) {
      var formData = new FormData(formEl),
        data = [];

    for (var keyValue of formData) {
        data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
    }

    return data.join("&");
  }

  // Fetch the form element
  var formEl = document.getElementById("form");

  // Override the submit event
  formEl.addEventListener("submit", function (e) {
      e.preventDefault();

    console.log("submit")
    console.log(getFormDataString(formEl))

    var request = new XMLHttpRequest();

    request.addEventListener("load", function () {
      if (request.status === 302) { // CloudCannon redirects on success
        // It worked
        console.log("succes")
      }
    });

    request.open(formEl.method, formEl.action);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(getFormDataString(formEl));
  });
</script>
