---
layout: reserveren
info:
  titel: Selecteer een dagdeel of dag (XL)
  text: >-
    Vul je gegevens in en plaats de reservering. Daarna ontvang je een
    betaallink, zodra de huursom is voldaan is de sloep definitief gereserveerd
    en ontvang je per mail een bevestiging. LET OP; aangezien wij alle
    reserveringen handmatig verwerken kan een reactie soms iets langer duren.   
vaartijden:
  - naam: Ochtend 
    prijs_number: 110
    vaartijd: 9:30 - 13:30
    dagdelen: 
    - ochtend
  - naam: Middag
    prijs_number: 125
    vaartijd: 14:00 - 18:00
    dagdelen: 
    - middag
  - naam: Avond
    prijs_number: 80
    vaartijd: 18.30 - 21:30
    dagdelen: 
    - avond
  - naam: Ochtend + Middag
    prijs_number: 175
    vaartijd: 9:30 - 18:00
    dagdelen: 
    - ochtend
    - middag
  - naam: Middag + Avond
    prijs_number: 160
    vaartijd: 14.00-21.30
    dagdelen: 
    - middag
    - avond
  - naam: Dag XL
    prijs_number: 225
    vaartijd: 9.30 - 21.30
    dagdelen: 
    - ochtend
    - middag
    - avond
---

<!-- <script src="/assets/js/firebase.js" type="module"></script> -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/nl.js"></script>


<div class="calendar" x-data="{
    selectedDate: '',
    docs: [],
    selectedDoc: {},
    disabledDates: [],
    disabledTimes: [],
    selectedTime: '',
    init() {
        const {db, collection, onSnapshot } = firebase

        const colRef = collection(db, 'sloepen/petter/reserveringen')
        const unsubscribe = onSnapshot(colRef, (snapshot) => {
            const docs =[]
            snapshot.forEach((doc) => {
                docs.push(doc.data())
            })
            this.docs = docs
            this.setDisabledDates()
        })

        let picker = flatpickr(this.$refs.picker, {
            mode: 'single',
            inline: true,
            locale: 'nl',
            disable: this.disabledDates,
            onChange: (date, dateString) => {
                this.selectedTime = ''
                this.selectedDate = dateString
                this.setSelectedDoc(dateString)
                this.setDisabledTimes()
            }
        })

        this.$watch('disabledDates', () => picker.set('disable', this.disabledDates))
    },
    setSelectedDoc(dateString) {
        const found = this.docs.find(doc => {
            const docDateString = doc.datum.toDate().toISOString().substring(0, 10)
            return dateString == docDateString
        })
        this.selectedDoc = found
    },
    setDisabledDates() {
        const disabledDates = []
        this.docs.forEach(doc => {
            if (doc.dagdelen.length > 2) {
                disabledDates.push(doc.datum.toDate().toISOString().substring(0, 10))
            }
        })
        this.disabledDates = disabledDates
    },
    setDisabledTimes() {
        if (!this.selectedDoc) return
        this.disabledTimes = this.selectedDoc.dagdelen
    },
    isDisabled(times) {
        const found = this.disabledTimes.find(time => {
            return times.includes(time)
        })
        return found
    },
}">

    <input class="calendar__input" type="text" x-ref="picker">

    <div class="reserveren-cards reserveren-cards">
        {% for item in vaartijden %}
            <!-- <a class="reserveren-cards__i" title="Bekijk deze route" href="{{ item.route_url }}" target="_blank">?</a> -->
            <a data-value="{{ item.vaartijd }}" class="reserveren-cards__card" :class="[(isDisabled('{{ item.dagdelen }}') || !selectedDate) && 'disabled', selectedTime == '{{ item.vaartijd }}' && 'selected']" @click="selectedTime = '{{ item.vaartijd }}', console.log(selectedTime)" href=" #form">
                <h3 class="reserveren-cards__h">{{ item.naam }}</h3>
                <span class="reserveren-cards__prijs">€{{ item.prijs_number }},-</span>
                <div class="reserveren-cards__info">
                    <span class="reserveren-cards__label">Vaartijd:</span>
                    <span class="reserveren-cards__value">{{ item.vaartijd }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
  
    <form method="post" class="form reserveren-form" id="form" x-data="{ confirm: false }" @submit="confirm = true">
      <label class="label" for="Vaartijd">Datum (selecteer hierboven):</label>
      <input class="input input--disabled" type="text" name="Datum" x-model="selectedDate" readonly required>
  
      <label class="label" for="Vaartijd">Vaartijd (selecteer hierboven):</label>
      <input class="input input--disabled" type="text" x-model="selectedTime" name="Vaartijd" readonly required>
        
      <label class="label" for="naam">Naam:</label>
      <input class="input" name="naam" type="text">
      
      <label class="label" for="email">Email:</label> 
      <input class="input" name="email" type="text" required>
      
      <label class="label" for="Telefoonnummer">Telefoonnummer:</label>
      <input class="input" name="telefoonnummer" type="text">
      
      <label class="label" for="datum">Datum voorkeur:</label>
      <input class="input" name="datum" type="date">
      
      <label class="label" for="bericht">Vragen / opmerkingen:</label>
      <textarea class="textarea" name="bericht"></textarea>
      
      <input type="text" name="_subject" style="display: none;" value="Interesse in Petter" />
      <input type="hidden" name="inbox_key" value="sloepverhuur">
      <!-- <input type="text" name="_gotcha" style="display: none;" /> -->
    
      <input class="btn btn--primary" type="submit" value="Plaats reservering">
  
      {% bookshop "modal"
        live_render: false  
        title: "Bedankt!"
        text: "Je ontvangt z.s.m. een betaallink om de reservering definitief te maken"
        button: "Oké" 
      %}
    </form> 
</div>
