<header class="nav" x-data="{ open: false }" :class="open && 'open'" @click.outside="open = false">
  <div class="nav__wrapper">

    <a class="nav__logo" href="/">
      <img src="{{ info.logo.image }}" alt="{{ info.logo.alt }}">
      <span>Sloepverhuur Bolsward</span>
    </a>

    <ul class="nav-list" x-show="open" x-cloak>
      {% for item in nav %}

      <!-- Links with dropdown -->
        {% if item.dropdown %} 
          <li class="nav-list__item" 
              x-data="{ expanded: false }" 
              @click="expanded = !expanded" 
              @click.outside=" expanded = false"
          >
            <a class="btn nav-list__link">
              <span>{{item.name}}</span>
              <i class="nav-list__icon material-icons-round" :class="expanded && 'turn'">expand_more</i>
            </a>
            
            <ul class="nav-list__dropdown-list" x-show="expanded" x-cloak x-collapse.duration.100>
              
              <!-- Loop over given collection -->
              {% for dropdown_item in collections[item.dropdown.collection] %}
                <li>
                  <a href="{{ dropdown_item.url }}" class="btn nav-list__dropdown-link">{{dropdown_item.data.title}}</a>
                </li>       
              {% endfor %}

              <!-- Loop over custom links -->
              {% for dropdown_item in item.dropdown.custom %}
                <li>
                  <a href="{{ dropdown_item.url }}" class="btn nav-list__dropdown-link">{{ dropdown_item.name }}</a>
                </li>       
              {% endfor %}  
            </ul>
          </li>
      
        <!-- Single link, without dropdown -->
        {% else %}
          <li class="nav-list__item">
            <a href="{{ item.url }}" class="btn nav-list__link">{{item.name}}</a>
          </li>
        {% endif %}

      {% endfor %}
    </ul>

    <!-- Buttons -->
    <div class="nav-buttons" x-show="open" x-cloak>
      <a href="/contact" class="nav-buttons__btn nav-buttons__btn--contact btn btn--secondary">Contact</a>
      <a href="/huren" class="nav-buttons__btn btn btn--primary">Huren</a>
    </div>

    <button @click="open = !open" 
    href="/" 
    class="nav__menu btn btn--secondary material-icons-round"
    >
      <span x-show="!open">menu</span>
      <span x-show="open">close</span>
    </button>
  </div>
</header>