<a href="{{ button.url }}" class="card-small">
  <img class="card-small__img" src="{{ afbeelding.image }}" alt="{{ afbeelding.omschrijving }}">
  <div class="card-small__content">
    <h3 class="card-small__h3">{{ title }}</h3>
    <span class="card-small__btn btn btn--secondary">{{ button.text }}</span>
  </div>
</a>