<a href="{{ btn_url }}" class="card-small">
  <img class="card-small__img" src="{{ afbeelding.image }}" alt="{{ afbeelding.alt }}">
  <div class="card-small__content">
    <h3 class="card-small__h">{{ title }}</h3>
    <span class="card-small__btn btn btn--secondary">{{ btn_text }}</span>
  </div>
</a>