
<div class="gallery"
x-init="$watch('active', setSingle)"
x-data="{ 
  open: false, 
  zoomed: false,
  active: null,
  setActive(index) {
    let max = {{ gallery.size }}

    if (index > max) { this.active = 1 }
    else if (index < 1) { this.active = max }
    else { this.active = index }
  },
  prev() {
    this.setActive(this.active - 1)
  },
  next() {
    this.setActive(this.active + 1)
  },
  openTo(index) {
    this.open = true
    this.setActive(index)
    $nextTick(() => { $refs[this.active].scrollIntoView() })
  },
  setSingle() {
    let active = $refs[$data.active]
    let single = $refs.single

    single.src = active.src
    single.alt = active.alt
  },
}">

<!-- Page -->
{% for item in gallery limit:3 %}
  <img
  @click="openTo({{ forloop.index }})"
  src="{{ item.image }}" 
  alt="{{ item.alt }}" 
  class="gallery__img gallery__img--{{ forloop.index }}"
  >
{% endfor %}

<button type="button" class="gallery__btn" 
@click="open = true">
  <i class="material-icons">collections</i>
  {{ gallery.size }} foto's
</button>

<!-- Modal -->
<template x-teleport="body">
  <div 
  x-show="open" 
  @keydown.escape.prevent.stop="open = false" 
  x-transition.opacity
  x-trap.noscroll.inert="open"
  class="gallery-modal"
  @keydown.left="prev"
  @keydown.right="next"
  >

      <!-- Toolbar -->
      <div class="toolbar modal__toolbar">
        <div class="toolbar__content">
          <button @click="zoomed = false" x-show="zoomed" class="modal__toolbar-btn btn btn--secondary">
            <i class="material-icons">keyboard_backspace</i>
            Terug
          </button>
          <button @click="zoomed = false; open = false" class="modal__toolbar-btn btn btn--secondary">
            Sluiten
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>

      <!-- List of images -->
      <div
        x-show="!zoomed"
        x-transition.opacity
        class="gallery-modal__list"
        >
        {% for item in gallery %}
          <img
            x-ref="{{forloop.index}}"
            @click="setActive({{forloop.index}}); zoomed = true" 
            src="{{ item.image }}" 
            alt="{{ item.alt }}" 
            class="gallery-modal__list-img"
            >
        {% endfor %}
      </div>

      <!-- Single image -->
      <div
      x-show="zoomed" 
      x-transition.opacity
      class="gallery-modal__single"
      >
        <button @click="prev" class="gallery-modal__btn btn btn--secondary">
          <i class="material-icons">arrow_back_ios</i>
        </button>
          <img x-ref="single" class="gallery-modal__single-img">
        <button @click="next" class="gallery-modal__btn btn btn--secondary">
          <i class="material-icons">arrow_forward_ios</i>
        </button>
      </div>
  </div>
</template>
</div>