<div class="card-info">
  <div class="card-info__content">
    <h3 class="card-info__h">{{ title }}</h3>
    <ul class="card-info__list">
      {% for item in list %}
        <li class="card-info__item">
          <span class="card-info__label">{{ item.label }}: </span>
          <span class="card-info__value">{{ item.value }}</span>
        </li>
      {% endfor %}
    </ul>
    <a href="{{ button.url }}" class="btn btn--primary">{{ button.text }}</a>
  </div>
</div>