<div class="banner">
  <img src="{{ afbeelding.image }}" alt="{{ afbeelding.omschrijving }}" class="banner__img">
  <div class="banner__content">
    <h1 class="banner__h">{{ title }}</h1>
    <a href="{{ button.url }}" class="banner__btn btn btn--primary btn--big">{{ button.text }}</a>
  </div>
</div>