<div class="card-big">
  <div class="card-big__img-container">
    <img class="card-big__img" src="{{ afbeelding.image }}" alt="{{ afbeelding.omschrijving }}">
  </div>
  <div class="card-big__content">
    <span class="card-big__subtitle">{{ subtitle }}</span>
    <h2 class="card-big__h">{{ title }}</h2>
    <p class="card-big__p">{{ description }}</p>
    <div class="btns card-big__btns">
      <a href="{{ buttons.primary.url }}" class="btn btn--primary">{{ buttons.primary.text }}</a>
      <a href="{{ buttons.secondary.url }}" class="btn btn--secondary">{{ buttons.secondary.text }}</a>
    </div>
  </div>
</div>