<div class="card-big">
  <div class="card-big__img-container">
    <img class="card-big__img" src="{{ afbeelding.image }}" alt="{{ afbeelding.alt }}">
  </div>
  <div class="card-big__content">
    <span class="card-big__subtitle">{{ subtitle }}</span>
    <h2 class="card-big__h">{{ title }}</h2>
    <p class="card-big__p">{{ description }}</p>
    <div class="btns card-big__btns">
      <a href="{{ btn_primary_url }}" class="btn btn--primary">{{ btn_primary_text }}</a>
      <a href="{{ btn_secondary_url }}" class="btn btn--secondary">{{ btn_secondary_text }}</a>
    </div>
  </div>
</div>