<a href="{{ url }}" class="card-base">
  <div class="card-big__img-container">
    <img class="card-base__img" src="{{ afbeelding.image }}" alt="{{ afbeelding.alt }}">
  </div>
  <div class="card-base__content">
    <h3 class="card-base__h">{{ title }}</h3>
    <p class="card-base__p">{{ description }}</p>
  </div>
</a>